html{
  position: relative;
  min-height: 100%;
}
body{
  background-image: url(plant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', serif;
  /*font-family: cursive;*/
}
.jumbotron {
  background-color: inherit;
  text-align: center;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Playfair Display', serif;
}
.well{
  border: 2px solid grey;
  padding: 5%;
  margin: 3%;
  background: hsla(190, 30%, 94%, .7);
}
#response{
  display: none;
}
